.container {
    /* width: 1440px;
    height: 900px;
    top: -451px;
    left: 2359px; */

    width: 1440px;
    height: 52px;
    
}



.container_loaded {
    background: #121212;
    width: 1440px;
    height: 52px;
    text-align: center;
    display: flex;

}

.container_loaded_title {
    color: #F2F2F2;
    font-family: SF Pro Display;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.0125em;
    text-align: left;


}